bitstring
black
build
cfdp-py==0.1.2
dataclasses-json
isort
numpy>=1.19.5
oresat-configs==0.8.*
oresat-olaf>=3.6.5
pylama[all]
pylama[toml]
scipy>=1.6.0
setuptools
setuptools-scm
skyfield>=1.54
smbus2
spacepackets
sphinx
sphinx-rtd-theme
sphinxcontrib-mermaid
typing-extensions>=4.15.0
wheel
