bitstring
black
build
cfdp-py~=0.6.0
dataclasses-json
fastcrc~=0.3
isort
oresat-configs==0.8.*
oresat-olaf>=3.6.5
pylama[all]
pylama[toml]
setuptools
setuptools-scm
smbus2
spacepackets>=0.30.1
sphinx
sphinx-rtd-theme
sphinxcontrib-mermaid
wheel
