bitstring
black
build
cfdp-py
dataclasses-json
isort
oresat-configs
oresat-olaf>=3.4.0
pylama[all]
pylama[toml]
setuptools
setuptools-scm
smbus2
spacepackets
sphinx
sphinx-rtd-theme
sphinxcontrib-mermaid
wheel
