{% extends "base.html" %}

{% block content %}
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
    }
    thead {
      font-weight: bold;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  </style>
  <b>Status:</b>
  <span id="systemStatus">ENABLED</span>
  <button id="enableSystemButton" onclick="enableSystem()">Disable System</button>
  <br />
  <b>Scan:</b>
  <button id="scanNodesButton" onclick="scan()">Scan for Nodes</button>
  <br />
  <b>Fault:</b>
  <span id="systemFault">NO_FAULT</span>
  <br />
  <b>Current:</b>
  <span id="systemCurrent">0.000</span> mA
  <br />
  <br />
  <div id="opdTableDiv">
    <table id="opdTable">
      <thead>
        <tr>
          <td>Card</td>
          <td>Address</td>
          <td>Status</td>
          <td>Control</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <script>
    const NODES = {
       0x18: "Battery 1",
       0x19: "GPS",
       0x1A: "ACS",
       0x1B: "DxWiFi",
       0x1C: "Star Tracker",
       0x1D: "CFC Processor",
       0x1E: "CFC Sensor",
       0x1F: "Battery 2",
       0x20: "Reaction Wheel 1",
       0x21: "Reaction Wheel 2",
       0x22: "Reaction Wheel 3",
       0x23: "Reaction Wheel 4",
    };

    const NODE_STATES = {
       0x00: "OFF",
       0x01: "ON",
       0x02: "ERROR",
       0x03: "DEAD",
       0xFF: "NOT_FOUND",
    };

    // build the table
    let tbodyRef = document.getElementById("opdTable").getElementsByTagName("tbody")[0];
    for (const key in NODES) {
      let newRow = tbodyRef.insertRow();

      let newCell = newRow.insertCell();
      let newText = document.createTextNode(NODES[key]);
      newCell.appendChild(newText);

      let newCell4 = newRow.insertCell();
      let upperHex = parseInt(key).toString(16).toUpperCase()
      let newText4 = document.createTextNode(`0x${upperHex}`);
      newCell4.appendChild(newText4);

      let newCell2 = newRow.insertCell();
      let span = document.createElement("span");
      span.id = `node${key}`;
      span.innerText = "OFF";
      newCell2.appendChild(span);

      let newCell3 = newRow.insertCell();
      let button = document.createElement("button");
      button.addEventListener("click", function() {nodeOnClick(key)});
      button.id = `node${key}Button`;
      button.innerText = "Enable";
      newCell3.appendChild(button);
    }

    /** Enable / disable a node button callback */
    async function nodeOnClick(nodeId) {
      await writeValue("0x8001", "0x3", nodeId);
      const enable = document.getElementById(`node${nodeId}Button`).innerText === "Enable";
      let data = await writeValue("0x8001", "0x4", enable);
      updateNode(nodeId, data.value);
    }

    /** Update a row in the table */
    function updateNode(node, value) {
      const span = document.getElementById(`node${node}`);
      const button = document.getElementById(`node${node}Button`);

      const state = NODE_STATES[value];
      span.innerText = state;

      switch (state) {
      case "OFF":
        button.innerText = "Enable";
        button.disabled = false;
        break;
      case "ON":
        button.innerText = "Disable";
        button.disabled = false;
        break;
      default:
        button.innerText = "Enable";
        button.disabled = true;
      }
    }

    /** Update data in the table */
    async function updateStatus() {
      const statusSpan = document.getElementById("systemStatus");
      const faultSpan = document.getElementById("systemFault");
      const currentSpan = document.getElementById("systemCurrent");
      const enableButton = document.getElementById("enableSystemButton");
      const spanButton = document.getElementById("scanNodesButton");
      const div = document.getElementById("opdTableDiv");
      let systemData = await readValue("0x8001","0x1");
      let systemFault = await readValue("0x8001","0x6");
      let systemCurrent = await readValue("0x7000","0x6");
      let data;

      if (systemData.value) { // only update if system is enabled
        data = await readValue("0x8001","0x2");
        const json = JSON.parse(data.value);
        for (const key in json) {
          updateNode(key, json[key]);
        }
      }

      if (systemFault.value === true) {
        faultSpan.innerText = "FAULT";
      } else {
        faultSpan.innerText = "NO_FAULT";
      }

      currentSpan.innerText = systemCurrent.value;

      // do this after the node updates to get the correct values before
      // showning table
      if (systemData.value === true) {
        statusSpan.innerText = "ENABLED";
        enableButton.innerText = "Disable System";
        div.style.display = "";
        spanButton.disabled = false;
      } else {
        statusSpan.innerText = "DISABLED";
        enableButton.innerText = "Enable System";
        div.style.display = "none";
        spanButton.disabled = true;
      }
    }

    /** Enable / disable the OPD subsystem button callback */
    async function enableSystem() {
      const enable = document.getElementById("systemStatus").innerText !== "ENABLED";
      const data = await writeValue("0x8001", "0x1", enable);
      updateStatus();
    }

    /** Scan button callback */
    async function scan() {
      const data = await writeValue("0x8001", "0x5", true);
      updateStatus();
    }

    updateStatus();
    const interval = setInterval(function() {
      updateStatus();
    }, 10000);
  </script>
{% endblock %}
