{% extends "base.html" %}

{% block content %}
  <a>Current State: <span id="state">OFFLINE</span></a>
  <br/>
  <br/>
  <a>Change State: </a>
  <select id="newState">
    <option value="B">PRE_DEPLOY</option>
    <option value="C">DEPLOY</option>
    <option value="D">STANDBY</option>
    <option value="E">BEACON</option>
    <option value="F">EDL</option>
  </select>
  <button onclick="changeState()">Set</button>
  <script>
    const states = {
      65: "OFFLINE",
      66: "PRE_DEPLOY",
      67: "DEPLOY",
      68: "STANDBY",
      69: "BEACON",
      70: "EDL",
    };

    async function changeState() {
      const c = document.getElementById("newState").value;
      const data = await writeValue("status", null, c.charCodeAt(0));
      getState();
    }

    async function getState() {
      const data = await readValue("status", null);
      document.getElementById("state").innerHTML = states[data.value];
    }

    getState();
    const interval = setInterval(function() {
      getState();
    }, 10000);
  </script>
{% endblock %}
